
<div class="page-header page-header-with-buttons">
  <h1 class="pull-left">
    <i class="icon-book"></i>
    <span>Appointment</span>
  </h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href="">Settings</a>
      </li>
  </ol>
</div>
</div>

<%= form_for :appointment  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
          Appointment
      </div>
      <div class="actions">
        <a class="btn box-collapse btn-xs btn-link" href="#"></a>
      </div>
    </div>
    <div class="box-content box-double-padding">
      <form class="form" style="margin-bottom: 0;">
        <fieldset>
            <hr class="hr-normal">

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Appointment No:</label>
                  <div class="col-sm-3"><%= c.text_field :appointment_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                  <div class="col-sm-3"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Time:</label>
                  <div class="col-sm-3"><%= c.date_field :time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>  

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Doctor Name:</label>
                  <div class="col-sm-3"><%= c.text_field :doctor_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">HR No:</label>
                  <div class="col-sm-3"><%= c.text_field :hr_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Total Visit:</label>
                  <div class="col-sm-3">  
                  </div> 

                  <label class="col-sm-2 control-label">Last Visit:</label>
                  <div class="col-sm-3">  
                  </div>  
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Patient Name:</label>
                  <div class="col-sm-5"><%= c.text_field :patien_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Age:</label>
                  <div class="col-sm-1"><%= c.text_field :yyyy,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-1 control-label">Year</label>
                  <div class="col-sm-1"><%= c.date_field :mm,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                  <label class="col-sm-1 control-label">Month</label>
                  <div class="col-sm-1"><%= c.text_field :dd,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-1 control-label">Date</label>
                   
                </div>
              </div>              
             <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Gender:</label>
                  <div class="col-sm-2"><%= c.select :gender,['Male','Female'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-2 control-label">Marital Status:</label>
                  <div class="col-sm-2"><%= c.select :married_status,['Married','Unmarried'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>              
              <br>  

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">C/O:</label>
                  <div class="col-sm-4"><%= c.text_field :co,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Address:</label>
                  <div class="col-sm-4"><%= c.text_area :address,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">City:</label>
                  <div class="col-sm-4"><%= c.text_field :city,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Pincode:</label>
                  <div class="col-sm-4"><%= c.text_field :pincode,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Phone Number:</label>
                  <div class="col-sm-4"><%= c.text_field :phone_number,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Ref Doctor:</label>
                  <div class="col-sm-4"><%= c.text_field :ref_doctor,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Previous Visit Date:</label>
                  <div class="col-sm-3"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>      
              <br>  

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Doctor Name:</label>
                  <div class="col-sm-4"><%= c.text_field :doctor_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>
            </fieldset>

        <div class="form-actions">
          <div class="row">
            <div class="col-sm-20 col-sm-offset-0">                
              <i class="icon-ok-circle "></i>
                <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>
            </div>
          </div>
        </div>
      <%end%>
    </form>
  </div>
</div>
</div>
