
<div class="page-header page-header-with-buttons">
  <h1 class="pull-left">
    <i class="icon-book"></i>
    <span>Outdoor Money Reciept</span>
  </h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href="">Settings</a>
      </li>
  </ol>
</div>
</div>

<%= form_for :outdoor_money_reciept  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
          Outdoor Money Reciept
      </div>
      <div class="actions">
        <a class="btn box-collapse btn-xs btn-link" href="#"></a>
      </div>
    </div>
    <div class="box-content box-double-padding">
      <form class="form" style="margin-bottom: 0;">
        <fieldset>
          <font color="blue">Reciept Details</font>
            <hr class="hr-normal">

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Reciept No:</label>
                  <div class="col-sm-3"><%= c.text_field :reciept_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                  <div class="col-sm-3"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Time:</label>
                  <div class="col-sm-3"><%= c.date_field :time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>  

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">HR Number:</label>
                  <div class="col-sm-3"><%= c.text_field :hr_number,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">OPD No:</label>
                  <div class="col-sm-3"><%= c.text_field :opd_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Department:</label>
                  <div class="col-sm-5"><%= c.text_field :department,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Patient Name:</label>
                  <div class="col-sm-5"><%= c.text_field :patien_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Phone number:</label>
                  <div class="col-sm-5"><%= c.text_field :phone_number,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Doctor:</label>
                  <div class="col-sm-5"><%= c.text_field :doctor,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Ref.Doctor:</label>
                  <div class="col-sm-5"><%= c.text_field :ref_doctor,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              

              <font color="blue">Patient Details</font>
              <hr class="hr-normal">


              <font color="blue">Payment Details</font>
              <hr class="hr-normal">
              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Amount:</label>
                  <div class="col-sm-3"><%= c.text_field :amount,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-2 control-label">Discount:</label>
                  <div class="col-sm-3"><%= c.text_field :discount,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>      
              <br>  

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Due Amount:</label>
                  <div class="col-sm-3"><%= c.text_field :due_amt,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Grand Total:</label>
                  <div class="col-sm-3"><%= c.text_field :grand_total,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Pay Type:</label>
                  <div class="col-sm-3"><%= c.select :pay_type,["Cash","Debit Card","Credit Card"],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-2 control-label">Cheque Date:</label>
                  <div class="col-sm-3"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Bank Name:</label>
                  <div class="col-sm-4"><%= c.text_field :Bank_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Cheque/Card Number:</label>
                  <div class="col-sm-4"><%= c.text_field :cheque_number,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Remarks:</label>
                  <div class="col-sm-4"><%= c.text_field :remark,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <hr class="hr-normal">
              <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Previous User:</label>
                <div class="col-sm-3"><%= c.text_field :prev_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                <label class="col-sm-2 control-label">Current User:</label>
                <div class="col-sm-3"><%= c.text_field :current_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
            </div>  
          </fieldset>

        <div class="form-actions">
          <div class="row">
            <div class="col-sm-20 col-sm-offset-0">                
              <i class="icon-ok-circle "></i>
                <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>
            </div>
          </div>
        </div>
      <%end%>
    </form>
  </div>
</div>
</div>
