<div class="page-header page-header-with-buttons">
	<h1 class="pull-left">
	  <i class="icon-medkit"></i>
	  <span>BLOOD DONOR</span>
	</h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href=""></a>
      </li>
  </ol>
</div>
</div>
<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for :blood_donor_details do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">

<div class="box-header blue-background">
      <div class="title"><span class="translation_missing" title="translation missing: en.courses details">Blood Donor Details</span></div>
        <div class="actions">  
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
    </div>
    <div class="box-content box-double-padding">
     <fieldset>
    <div class="form-horizontal" style="margin-bottom: 0;">
    <font color="blue">Donor Details</font>
      <hr class="hr-normal">
      <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                  <div class="col-sm-3"><%= c.date_field :date %>  
                  </div>  

                   <label class="col-sm-2 control-label">Time:</label>
                  <div class="col-sm-3"><%= c.text_field :time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "TIME",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  
                </div>
              </div>  
          <br>
          <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Donor No:</label>
                  <div class="col-sm-3"><%= c.text_field :donor_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Donor Number",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>  
            <br>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Donor Name:</label>
                  <div class="col-sm-8"><%= c.text_field :donor_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Donor Name",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>              
             <br>
             <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Donor Father Name:</label>
                  <div class="col-sm-8"><%= c.text_field :donor_father_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Donor Father Name",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>              
             <br>
             <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Address:</label>
                  <div class="col-sm-8"><%= c.text_area :address,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Address",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>              
             <br>
             <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Telephone:</label>
                  <div class="col-sm-8"><%= c.text_field :telephone,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Telephone",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>              
             <br>
             <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Age:</label>
                  <div class="col-sm-3"><%= c.text_field :age,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Age",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-2 control-label">Gender:</label>
                  <div class="col-sm-3"><%= c.select :gender,['Male','Female'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>              
             <br>
             <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Type of Donor:</label>
                  <div class="col-sm-8"><%= c.text_field :type_of_donor,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Type Of Donor",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>              
             <br>
             <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Type of Pack:</label>
                  <div class="col-sm-8"><%= c.select :type_of_pack,['Double','Single'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>              
             <br>

             <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Weight:</label>
                  <div class="col-sm-3"><%= c.text_field :weight,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Weight",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  </div>
              </div>  
            <br>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Vol And Repl:</label>
                  <div class="col-sm-3"><%= c.text_field :vol_and_repl,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Vol And Repl",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  </div>
              </div>  
            <br>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">ABO:</label>
                  <div class="col-sm-3"><%= c.text_field :abo,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "ABO",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-2 control-label">RHD:</label>
                  <div class="col-sm-3"><%= c.text_field :rhd,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "RHD",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>  
            <br>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Remark:</label>
                  <div class="col-sm-3"><%= c.text_field :remark,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Remark",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  </div>
              </div>  
            <br>
            <div class="form-actions">
                  <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2" >                
                        <%= c.submit 'Create', class: "btn btn-group btn-primary btn-lg"%>
                        </div>
                         <div class="col-sm-5"></div>
                    </div> 
                </div>
        </div>
 </fieldset>        
 </div>
        </div>
        </div>
        <%end%>
