                 <div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">     
<div class="modal-body">
   <table class="table" style="width:85%">
        <tr>
         <th><%='patient name'%></th>
         <td><%='Jiya Patil'%></td>
        </tr>
         <tr>
         <th><%='Disease Name'%></th>
         <td><%='Flue'%></td>
        </tr>
         <tr>
         <th><%='Consultant Dr Name'%></th>
         <td><%='Dr. Rajiv Dive'%></td>
        </tr>
          <tr>
         <th><%='Admit Date'%></th>
         <td><%='22/11/2014'%></td>
        </tr>
        <tr>
        <td>
        <%= link_to 'Cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%></td>
        <td></td>
        </tr>
    </table>

</div>
</div></div>
</div>


