
<b><font color="black">Bill Details</font></span></b>
<hr class="hr-normal">
<div id="flash"><%= render 'layouts/flash_messages'%></div>
<table align="center" class="table table-hover table-bordered" style="width:80%">
<tr>
  <th><%='Sr no'%></th>
  <th><%='Bill No'%></th>
  <th><%='Date'%></th>
  <th><%='Patient Name'%></th>
  <th><%='Total Amount'%></th>
 </tr>
<%i=1%>
<%c=0%>
<%total=0%>
<%@p.each do |p|%>
<tr>
  <td><%=i%></td>
  <td><%=p.bill_no%></td>
  <td><%=p.date%></td>
  <td><%=p.ipd_registration.patient_name
%></td>
<td><%=p.net_amount%></td>
 <%i=i+1%>
<%total=total+p.net_amount%>
<%end%>
 </tr>

<tr><td>Total</td><td></td><td></td><td></td><td><%=total%></td></tr>
</table>
