<div class="page-header page-header-with-buttons">
  <h1 class="pull-left">
    <i class="icon-book"></i>
    <span>Advance Booking </span>
  </h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href=""></a>
      </li>
  </ol>
</div>
</div>
<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for :advance_booking_form  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
        Advance Booking
      </div>
      <div class="actions">
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
      </div>
    </div>
    <div class="box-content box-double-padding">
      <form class="form-horizontal" style="margin-bottom: 0;">
        <fieldset>
        <font color="blue">Booking Details</font>
        <hr class="hr-normal">
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Booking Number:</label>
                <div class="col-sm-3"><%= c.text_field :booking_number,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-2 control-label">Booking Date:</label>
                  <div class="col-sm-3"><%= c.date_field :booking_date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
          </div>
          <br>

          <font color="blue">Patient Details</font>
          <hr class="hr-normal">
          <div class="row">
            <div class="form-group">
              
               <label class="col-sm-2 control-label">OPD Patient Y/N:</label>
                  <div class="col-sm-6"><%= c.select :opd_patient_yes_no,['Yes','No'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
            </div>
          <br>

          <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">HR No:</label>
                  <div class="col-sm-2"><%= c.text_field :hr_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">OPD No:</label>
                  <div class="col-sm-3"><%= c.text_field :opd_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  

                  
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Patient Name:</label>
                <div class="col-sm-6"><%= c.text_field :patient_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Enter patient name here",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Address:</label>
                <div class="col-sm-6"><%= c.text_field :address,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Enter Address Here",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">C/O:</label>
                <div class="col-sm-6"><%= c.text_field :co,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Gender:</label>
                  <div class="col-sm-2"><%= c.select :gender,['Male','Female'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Marital Status:</label>
                  <div class="col-sm-3"><%= c.select :marital_status,['Married','Unmarried'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>              
             <br>

             <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Phone Number:</label>
                <div class="col-sm-6"><%= c.text_field :phone_number,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Enter phone number here",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Age:</label>
                  <div class="col-sm-2"><%= c.text_field :age,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-1 control-label">D.O.B:</label>
                  <div class="col-sm-3"><%= c.date_field :date_of_birth,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>              
             <br>  
             
             <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">City:</label>
                <div class="col-sm-6"><%= c.text_field :city,  
                 class: "form-control input-group",
                      required: true,                     
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Doctor:</label>
                <div class="col-sm-6"><%= c.text_field :doctor,
                    class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Ward Name:</label>
                <div class="col-sm-6"><%= c.text_field :ward_name,
                    class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Admission Date:</label>
                <div class="col-sm-3"><%= c.date_field :admission_date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
               <label class="col-sm-3 control-label">Approx Discharg date:</label>
                <div class="col-sm-3"><%= c.date_field :approx_discharge_date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Remark</label>
                <div class="col-sm-6"><%= c.text_field :remark,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <font color="blue">Recieved By</font>
            <hr class="hr-normal">
            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Previous User:</label>
                <div class="col-sm-2"><%= c.text_field :previous_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                <label class="col-sm-2 control-label">Current User:</label>
                <div class="col-sm-2"><%= c.text_field :current_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
            </div> 

            <div class="form-actions">
              <div class="row">
                <div class="col-sm-3"></div>
                  <div class="col-sm-15" >                
                    <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>
                  </div>
                <div class="col-sm-5"></div>
              </div> 
            </div>
          </fieldset>
        </form>
        </div>
        </div>
        </div>
        <%end%>