<div class="page-header page-header-with-buttons">
  <h1 class="pull-left">
    <i class="icon-book"></i>
    <span>Bed Trasfer</span>
  </h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href=""></a>
      </li>
  </ol>
</div>
</div>
<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for :bed_transfer  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
          Bed Transfer
      </div>
        <div class="actions">
          <a class="btn box-collapse btn-xs btn-link" href="#"></a>
        </div>
      </div>
      <div class="box-content box-double-padding">
        <form class="form-horizontal" style="margin-bottom: 0;">
          <fieldset>
        
          <font color="blue">Patient Details</font>
          <hr class="hr-normal">
          <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">IPD No:</label>
                  <div class="col-sm-2"><%= c.text_field :ipd_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Date:</label>
                  <div class="col-sm-6"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Patient Name:</label>
                  <div class="col-sm-6"><%= c.text_field :patient_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>

              <font color="blue">Before Transfer Bed Details</font>
              <hr class="hr-normal">

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Ward Name:</label>
                  <div class="col-sm-3"><%= c.text_field :ward_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Bed No:</label>
                  <div class="col-sm-3"><%= c.text_field :bed_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                    </div>
                  </div>
              </div>              
             <br>  

             <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Rate:</label>
                <div class="col-sm-3"><%= c.text_field :rate,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <font color="blue">Transfer Bed Details</font>
            <hr class="hr-normal">

            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Ward Name:</label>
                  <div class="col-sm-3"><%= c.text_field :ward_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Bed No:</label>
                  <div class="col-sm-3"><%= c.text_field :bed_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                    </div>
                  </div>
              </div>              
             <br>  

             <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Rate:</label>
                <div class="col-sm-3"><%= c.text_field :rate,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                  <label class="col-sm-2 control-label">Time:</label>
                <div class="col-sm-3"><%= c.text_field :time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
            </div> 
            <br>

            <div class="row">
            <div class="col-sm-15">
              <center>
                <table border="1">
                  <tr>
                    <th>A Date</th>
                    <th>A Time</th>
                    <th>Ward</th>
                    <th>Bed No</th>
                    <th>Rate</th>
                    <th>End Date</th>
                    <th>End Time</th>
                    <th>Today Rate</th>
                    <th>Entry By</th>
                  </tr>
                </table>
              </center>  
            </div>
            </div> 
            <br>
            <font color="blue">Transfered By</font>
            <hr class="hr-normal">
            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Previous User:</label>
                <div class="col-sm-2"><%= c.text_field :previous_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                <label class="col-sm-2 control-label">Current User:</label>
                <div class="col-sm-2"><%= c.text_field :current_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
            </div>
            <div class="form-actions">

                  <div class="row">
                       
                        <div class="col-sm-3"></div>
                        <div class="col-sm-15" >                
                           
                          <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>

                          </div>
                         <div class="col-sm-5"></div>
                    </div> 
                </div>


          </fieldset>
        </form>
        </div>
        </div>
        </div>
        <%end%>