
<!DOCTYPE html>
<html>
<head>
</head>
<style type="text/css">

table#pdf-table{
   border: 1px solid #ADACAB;
   border-left: 0px solid #ADACAB;
}

</style>
<body>
<div align="center">
<font color="purple"><b><i><h3>Axenic Clinica</h3>
<h4>Bill Report</h4></i></b></font>
</div>

<%= form_for :final_bill_pdf ,url: create_final_bill_path,layout: false do |c| %>
 <table id="pdf-table" width="100%" border="0px">
<tr><td>IPD No:</td>
    <td><%= @final_bill['ipd_no'] %></td></tr>

  <tr><td>Bill No:</td>
      <td><%= @final_bill['bill_no']%></td></tr>
      <tr><td>Date:</td>
                 <td><%=  @final_bill['date']%></td> </tr> 
       <tr><td>Time:</td>
            <td><%= @final_bill['time']%></td>  
            </tr>

     <tr><td> <font color="blue">Patient Details</font></td><td></td></tr>
       <tr><td>Patient Name:</td>
               <td><%= @final_bill['patient_name']%>
          </td></tr>           
            
           <tr><td>Birth Date:</td>
                  <td><%= @final_bill['birthdate']%></td></tr>

 <tr><td> Admit Date:</td>
        <td><%=@final_bill['admitdate']%></td></tr>
                   <tr><td>Gender:</td>
                  <td><%=@final_bill['gender']%></td></tr>
                   


                  <tr><td> Bed No:</td>
                 <td> <%=  @final_bill['bed_no']%></td>
                   </tr>
                <tr><td>
                   Ward:</td>
              <td><%=  @final_bill['ward']%></td></tr>
                    

             <tr><td> Address:</td><td><%=  @final_bill['address']%></td></td>
                   
               

         <tr><td> <font color="blue"> Bill Details</td></font></tr>
        

               
            <tr><td>Bed Charges :</td>              
                        
            <td><%= @final_bill['bed_charges']%></td></tr>                      
           <tr><td> Luxury Charges :</td>
                <td><%= @final_bill['luxury_charges']%></td></tr>                
            <tr><td>Service Charges</td>              
            <td>            
            <%= @final_bill['service_charges']
                      %>  
            </td>
            </tr>           
                   
           <tr><td> Other Charges </td>             
                       
       
         </tr>         
      <tr><td> OT Charges</td>
      <td><%= @final_bill['ot_charges']%></td></tr>          
    <tr><td>Doctor Charges</td>              
                         
           <td> <%= @final_bill['doctor_charges'] 
                      %></td></tr>             
                           
    <tr><td>Diagnostic Charges </td>             
                          
            <td><%=@final_bill['diagnostic_charges'] 
                      %> </td></tr>            
                          
            <tr><td>Medicine Charges</td>              
                    
           <td> <%=@final_bill['medicine_charges']
                      %></td></tr>             
                        
            <tr><td>Total</td>
                        
            <td><%= @final_bill['total_charges']%></td>
           
           </tr>

   <tr><td> Less Advance</td>             
                        
            <td><%=@final_bill['less_advance']
                      %> </td></tr>            
           
             <tr><td>Payment Type</td>
                          
           <td><%=@final_bill['pay_type']
                   %></td></tr>
              
            <tr><td>Bank Name </td>            
                        
           <td> <%= @final_bill['bank_name']
                      %></td> </tr>            
                        
          <tr><td>Cheque No </td>            
                       
           <td> <%=@final_bill['cheque_no']
                      %></td></tr>             
             
             <tr><td>Bill Amount</td>
                        
            <td><%=  @final_bill['bill_amount']
                      %></td></tr>             
                        
           <tr><td> Discount</td>             
                         
            <td><%= @final_bill['discount']
                      %></td></tr>             
                         
            <tr><td>Net Amount</td>             
                        
            <td><%= @final_bill['net_amount']%></td></tr>
                        
 <tr><td>   Remark</td>
                   
     <td><%= @final_bill['remark'] %></td></tr>      
   
   
 </table>
 <%end%>
 </div>
</body>
</html>