
<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-medkit"></i>
              <span><%= t('Indoor')%></span>
              <small><%= t('Indoor home')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%>
            </a>
          </li>  

          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>

          <li>
            <a href="indoors">
              <i class="icon-dashboard"></i>
              <%= t('indoor')%>
            </a>
          </li>

        </ul>
      </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Patient Admission", ''%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Patient Admission
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Bed Status",'' %>        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Bed Status
      </div>
    </div>
  </div>

</div>

 <hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Bed Occupancy"%>  
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Bed Occupancy
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Advance Booking"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Advance Booking
      </div>
    </div>
  </div>

</div>

 <hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Other Service", 'pharmacy/new_debit_note'%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Other Service
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Doctor Visit"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Doctor Visit
      </div>
    </div>
  </div>
</div>

<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Bed Transfer", 'pharmacy/new_debit_note'%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Bed Transfer
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "OT Billing"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       OT Billing
      </div>
    </div>
  </div>
</div>

<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Indoor Money Reciept"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Indoor Money Reciept
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Discharge"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Discharge
      </div>
    </div>
  </div>
</div>

<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Final Bill"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Final Bill
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Manage Final Bill"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Manage Final Bill
      </div>
    </div>
  </div>
</div>

<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Estimate Bill"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Estimate Bill
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Certificate"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Certificate
      </div>
    </div>
  </div>
</div>
<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "Nursing Counter"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Nursing Counter
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "IPD Clinical Data"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       IPD Clinical Data
      </div>
    </div>
  </div>
</div>
<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-medkit"></i>
          <%= link_to "IPD Reciept"%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        IPD Reciept
      </div>
    </div>
  </div>
</div>


</div>


