
<div class="page-header page-header-with-buttons">
  <h1 class="pull-left">
    <i class="icon-book"></i>
    <span>Indoor Money Reciept</span>
  </h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href="">Settings</a>
      </li>
  </ol>
</div>
</div>

<%= form_for :money_reciept  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
          Indoor Money Reciept
      </div>
      <div class="actions">
        <a class="btn box-collapse btn-xs btn-link" href="#"></a>
      </div>
    </div>
    <div class="box-content box-double-padding">
      <fieldset>
          <font color="blue">Reciept Details</font>
            <hr class="hr-normal">

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Reciept No:</label>
                  <div class="col-sm-3"><%= c.text_field :reciept_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                   <label class="col-sm-2 control-label">IPD No:</label>
                  <div class="col-sm-2"><%= c.text_field :ipd_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                  <label class="col-sm-0 control-label"></label>
                  <div class="col-sm-2"><%= c.button "Search",
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                  <div class="col-sm-3"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Time:</label>
                  <div class="col-sm-2"><%= c.text_field :time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>  

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Admit Date:</label>
                  <div class="col-sm-2"><%= c.text_field :admit_date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                 


                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Reciept Type:</label>
                  <div class="col-sm-5"><%= c.select :reciept_type,["Advance","Final Bill","Refund"],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              
              <br>

              <font color="blue">Patient Details</font>
              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Patient Name:</label>
                  <div class="col-sm-3"><%= c.text_field :patient_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>     
            <br>
              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Birth Date:</label>
                  <div class="col-sm-2"><%= c.text_field :birthdate,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                 </div>
              </div>              
              <br>  


 <div class="row">
              <div class="form-group">
                  <label class="col-sm-2 control-label">Gender:</label>
                  <div class="col-sm-2"><%= c.select :gender,['Male','Female'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>              
              <br>  
              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Bed No:</label>
                  <div class="col-sm-4"><%= c.text_field :bed_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Ward:</label>
                  <div class="col-sm-4"><%= c.text_field :ward,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Address:</label>
                  <div class="col-sm-4"><%= c.text_field :address,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <font color="blue">Payment Details</font>
              <hr class="hr-normal">
              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Amount:</label>
                  <div class="col-sm-4"><%= c.text_field :amount,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  </div>
              </div>      
              <br>  

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Discount(Rs.):</label>
                  <div class="col-sm-3"><%= c.text_field :discount,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Reciept Amount:</label>
                  <div class="col-sm-3"><%= c.text_field :recieved_amount,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Pay Type:</label>
                  <div class="col-sm-4"><%= c.select :payment_type,["Cash","Debit Card","Credit Card"],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Bank Name:</label>
                  <div class="col-sm-4"><%= c.text_field :bank_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Cheque/Card Number:</label>
                  <div class="col-sm-4"><%= c.text_field :cheque_number,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Remarks:</label>
                  <div class="col-sm-4"><%= c.text_field :remark,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>      
              <br>
          </fieldset>

        <div class="form-actions">
          <div class="row">
            <div class="col-sm-20 col-sm-offset-0">                
              <i class="icon-ok-circle "></i>
                <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>
            </div>
          </div>
        </div>
      <%end%>
     </div>
</div>
</div>
