<div class="modal-body">
        <ul class="errors"></ul>
<%= form_for [@course,@rank_lev1],url:{:action=>'createrank',course_id: @course.id},method: :post,remote: true do |f|%>
<table class="table" style="width:85%">
<tr>
    <td class="col-2"><%= f.label :test_name , class: "control-label"%></td>
    <td><%=f.text_field :name ,:style =>"width: 250px", class: "form-control"%></td>
</tr>
        
 <tr>
    <td class="col-2"><%= f.label :value , class: "control-label"%></td>
    <td><%=f.text_field :marks ,:style =>"width: 250px", class: "form-control"%></td>
  </tr>

  <tr>
     <td class="col-2"><%= f.label :intial_limit_Type , class: "control-label"%></td>
      
        <td><%=f.select :marks_limit_type, ["Upper", "Lower", "Exact"],:style =>"width: 250px", class: "form-control" %></td>

  </tr>

  <tr>
      <td class="col-2"><%= f.label :Number_Of_diseases , class: "control-label"%></td>
      <td><%=f.text_field :subject_count ,:style =>"width: 250px", class: "form-control"%></td>
  </tr>

  <tr>
     <td class="col-2"><%= f.label :diseases_limit_Type , class: "control-label"%></td>
        <td><%=f.select :subject_limit_type, ["Upper", "Lower", "Exact"],:style =>"width: 250px", class: "form-control" %></td>
  
  </tr>
   <tr>

         <td class="col-2"><%= f.label :Consider_full_medicine_course_duration? , class: "control-label"%></td>
            
            <td><%= f.check_box :full_course, :checked => false %> </td>
        </tr>
   <tr>
        <td colspan="2"><%= f.submit 'Submit', class: "btn btn-primary"%>
        <%= link_to 'cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%></td>
        </tr>
    </table>
<% end %>
</div>