<div class="page-header page-header-with-buttons">
  <h1 class="pull-left">
    <i class="icon-book"></i>
    <span>Prescription</span>
  </h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href="">Settings</a>
      </li>
  </ol>
</div>
</div>



<div id="flash"><%= render 'layouts/flash_messages'%></div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="pull-right">
        
    </div>
  </div>
</div>
  
<div class="col-sm-12 ">
  <div class="box bordered-box green-border" style="margin-bottom:0;">
    <div class="box-header green-background">
      <div class="title"><%= t('Prescribe Patient')%></div>
        <div class="actions">  
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
    </div>
<br>
<%=form_for :search_patient,url: prescription_search_patient_path,remote: true do |form|%>
          <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">IPD No:</label>
                  <div class="col-sm-2"><%= form.text_field :ipdno,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "IPD NO",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 


                   <div class="col-sm-3"> <%= form.submit 'Search Patient', class: "btn btn-group btn-primary "%>
                  </div>  

                </div>
              </div>  
          <br>
<%end%>

<div id="patient_details">
</div>
<br>
<div class="bs-docs-example">
            <ul id="" class="nav nav-tabs">
              <li class="first"><a  href="#prescribe" data-toggle="tab">Prescribe</a></li>
              <li class="second"><a  href="#group" data-toggle="tab">Group</a></li>
              <li class="third"><a  href="#cgroup" data-toggle="tab">Create Group</a></li>
              </ul>
            
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade" id="prescribe">
<h4>Presscription Tablets</h4>
 <div class="row">
              <div class="form-group">
                 <div class="col-sm-3">
                <%=form_for :search_tablet,url: prescription_search_tablet_path,remote: true do |form|%>
               
              <div class="row">
              <div class="form-group">
                
                  <div class="col-sm-7"><%= form.text_field :tablet_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Tablet Name",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                   <div class="col-sm-3"> <%= form.submit 'Search', class: "btn btn-group btn-primary "%>
                  </div>  

                </div>
              </div>  
                <%end%>
        <br>
        <div id="tablet_result">
           
        </div>
           </div> 
<div class="col-sm-9">
 <table id="table_info" class="data-table table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
          <thead>
          <tr role="row">
           <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Sr No
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Name
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Type
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Timing
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Comment
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Power
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Quantity
            </th>
             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Remove
            </th>
           </tr>
        </thead>
      <tbody id="add_tablet" role="alert" aria-live="polite" aria-relevant="all">
      </tbody>
      </table>
    </div>  
   </div>
  </div>  
<br>
<br>
 <div class="row">
              <div class="form-group">
                
                  <div class="col-sm-6">
                    <div class="row">
                     <div class="form-group">
                  
                      <div class="col-sm-4">Recommended Tests
                      </div> 
                      <div class="col-sm-2"><input type="checkbox" name="comment">&nbspBlood
                      </div> 
                    <div class="col-sm-2"><input type="checkbox" name="comment">&nbspSugar
                    </div>  

                      <div class="col-sm-2"><input type="checkbox" name="comment">&nbspUrine
                      </div> 
                    <div class="col-sm-2"><input type="checkbox" name="comment">&nbspECG
                    </div>  
                    </div>
                      </div>  
                  </div> 
          <div class="col-sm-6"> 

            <div class="row">
                     <div class="form-group">
                  
                         <div class="col-sm-3">Next Visit Date </div> 
                         <div class="col-sm-9"> <input type="radio" name="next_app_date" value="10" checked="true">10&nbsp
                         <input type="radio" name="next_app_date" value="10">15&nbsp
                         <input type="radio" name="next_app_date" value="10">20&nbsp
                         <input type="radio" name="next_app_date" value="10">30 Days&nbsp
                          <input type="radio" name="next_app_date" value="10">Other
                         </div> 
                      </div>
          </div>  

          <div class="row">
                     <div class="form-group">
                  
                         <div class="col-sm-3"></div> 
                         <div class="col-sm-9">
                         Doctor Note<br>
                         <textarea style="width: 359px; height: 44px;"></textarea>
                         </div> 
                      </div>
          </div>  

        </div>  
    </div>
</div>  
<div class="form-group">
<div class="col-sm-12">
<%=form_for :create,url: prescription_save_prescription_path do |form|%>
 
                  <div class="row">
                     <div class="form-group">
                        <div class="col-sm-3">
                       <%= form.submit "Submit and Print", class: "btn btn-group btn-primary "%>    
                        </div> 
                        <div class="col-sm-3">
                             <%= form.submit "Save as Draft", class: "btn btn-group btn-primary "%>    
                        </div> 
                      </div>
                  </div>  
<%end%>
          </div> 
          </div>
          </div>  



 <div class="tab-pane fade" id="group">

 <%=form_for :add_group,url: prescription_add_group_path,remote:true do |form|%>
 <div class="row">
                     <div class="form-group">
                        <div class="col-sm-3">
                       <%= form.submit "Dysthymia ", class: "btn btn-group btn-primary "%>    
                        </div> 
                        <div class="col-sm-3">
                             <%= form.submit "Diabulimia", class: "btn btn-group btn-primary "%>    
                        </div> 
                        <div class="col-sm-3">
                             <%= form.submit "Drunkorexia", class: "btn btn-group btn-primary "%>    
                        </div> 

                      </div>
                  </div>  
<%end%>
</div>

 <div class="tab-pane fade" id="cgroup">


<h4>Presscription Tablets</h4>
 <div class="row">
              <div class="form-group">
                 <div class="col-sm-3">
                <%=form_for :search_tablet,url: prescription_search_tablet_path,remote:true do |form|%>
                 <div class="row">
              <div class="form-group">
                
                  <div class="col-sm-7"><%= form.text_field :tablet_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Tablet Name",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                   <div class="col-sm-3"> <%= form.submit 'Search', class: "btn btn-group btn-primary "%>
                  </div>  

                </div>
              </div>  
                <%end%>
        <br>
        <div id="tablet_result">
           
        </div>
           </div> 
<div class="col-sm-9">
 <table id="table_info" class="data-table table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
          <thead>
          <tr role="row">
           <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Sr No
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Name
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Type
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Timing
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Comment
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Power
            </th>

             <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Quantity
            </th>
              <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
              Remove
            </th>
           </tr>
        </thead>
      <tbody id="add_tablet" class="add_tabltes" role="alert" aria-live="polite" aria-relevant="all">
      </tbody>
      </table>
    </div>  
   </div>
  </div>  

<div class="form-group">
<div class="col-sm-12">
<%=form_for :create,url: prescription_save_prescription_path do |form|%>
 <div class="row">
                     <div class="form-group">
                        <div class="col-sm-3">
                       <%= form.submit "Submit and Print", class: "btn btn-group btn-primary "%>    
                        </div> 
                        <div class="col-sm-3">
                             <%= form.submit "Save as Draft", class: "btn btn-group btn-primary "%>    
                        </div> 
                      </div>
                  </div>  
<%end%>
          </div> 
          </div>
          </div>  





</div>
</div>
</div>

<script>
  $(".first").click(function(){
    if ($("#prescribe").html()=="")
    $("#prescribe").html("<%= j render 'prescribe'%>");
  });
   $(".second").click(function(){
  if ($("#prescribe").html()=="")
    $("#prescribe").html("<%= j render 'prescribe'%>");
  });
    $(".third").click(function(){
   $("#prescribe").html("");
  });
</script>
