 <div class="container">
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Doctor Master",masters_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Area Master",masters_area_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Family Master",masters_new_family_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Occupation Master",masters_new_occupation_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

<div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Religion Master",masters_new_religion_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Bank Master",masters_new_bank_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

<div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Payment Master",masters_new_company_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Diagnosis/Disease Master",masters_new_diagnosis_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Group Master",masters_new_group_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Service Master",masters_new_service_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Dose Master",masters_new_dose_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Age Master",masters_new_age_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Vaccines Master",masters_new_vaccines_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      
    </div>










