 <div class="container">
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Company Master",masters_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Purchase Tax Master",masters_area_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Suppiler Master",masters_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Uses Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

<div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Pack Master",masters_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Composition Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

<div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Sales Tax Master",masters_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Item Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Ledger Master ",masters_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Gowdan Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Series Master",masters_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
     
       
      <div class="col-md-2"></div>
    </div>
  
      
    </div>
    










