<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gears"></i>
              <span><%= t('Doctors')%></span>
              <small><%= t('dashboard')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="/home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-gears"></i>
          <%= t('Doctors')%></li>
        </ul>
      </div>
</div>

<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
                        Welcome Dr. <%= @doctor.name %>
      </div>
      <div class="actions">
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
      </div>
    </div>
    <%=form_for @patient,url:{action:'save_patient_checkup_information',patient_id:@patient_info.id,doctor_id:@doctor.id} do |c| %>
    <div class="box-content box-double-padding">
       <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Patient Name :</label>
                <div class="col-sm-6"><%= text_field_tag :patient,@patient_info.patient_name,readonly:true,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"Enter Patient Name Here",
                      :"data-placement"=>"right",style:"width:250px",:"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br/>
            <div class="row">
      <div class="form-group">
      <div><%= image_tag("mic.gif",id: "start_button",style: "display: inline-block;", onclick: "startButton(event)")%></div>
      <label class="col-sm-3 control-label">Clinical Investigation</label>
      <div><%= c.text_area :clinical_investigation,:rows => 5, :cols => 100,placeholder: "speak for as long as you like." %></div>
        </div>
    </div> 
      <div class="row">
        <div class="form-group">
        <div><%= image_tag("mic.gif",id: "start_button",style: "display: inline-block;", onclick: "startButton(event)")%></div>
          <label class="col-sm-3 control-label">Clinical History</label>
          <div><%= c.text_area :clinical_history,:rows => 5, :cols => 100 ,placeholder: "speak for as long as you like."%></div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
        <div><%= image_tag("mic.gif",id: "start_button",style: "display: inline-block;", onclick: "startButton(event)")%></div>
          <label class="col-sm-3 control-label">Clinical Diagnosis</label>
          <div><%= c.text_area :clinical_diagnosis,:rows => 5, :cols => 100,placeholder: "speak for as long as you like." %></div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div><%= image_tag("mic.gif",id: "start_button",style: "display: inline-block;", onclick: "startButton(event)")%></div>
          <label class="col-sm-3 control-label">Notes</label>
          <div><%= c.text_area :notes,:rows => 5, :cols => 100,placeholder: "speak for as long as you like." %></div>
        </div>
      </div>
      <div class="form-actions">
              <div class="row">
                <div class="col-sm-3"></div>
                  <div class="col-sm-2" >                
                    <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>
                  </div>
                <div class="col-sm-5"></div>
              </div> 
            </div><br><br>
    <%end%>
</div></div>
</fieldset>
</div>
</div>
</div>

<script>
var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  start_button.style.display = 'inline-block';
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = true;

  recognition.onstart = function() {
    recognizing = true;
  };

  recognition.onend = function() {
    recognizing = false;
    if (ignore_onend) {
      return;
    }
    if (!final_transcript) {
      return;
    }
    if (window.getSelection) {
      window.getSelection().removeAllRanges();
      var range = document.createRange();
      range.selectNode(document.getElementById('final_span'));
      window.getSelection().addRange(range);
    }
  };

  recognition.onresult = function(event) {
    if (typeof(event.results) == 'undefined') {
      recognition.onend = null;
      recognition.stop();
      upgrade();
      return;
    }
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      }
    }
    final_transcript = capitalize(final_transcript);
    final_span.innerHTML = linebreak(final_transcript);
  };
}

function upgrade() {
  start_button.style.visibility = 'hidden';
}

var two_line = /\n\n/g;
var one_line = /\n/g;
function linebreak(s) {
  return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
}

var first_char = /\S/;
function capitalize(s) {
  return s.replace(first_char, function(m) { return m.toUpperCase(); });
}

function startButton(event) {
  if (recognizing) {
    recognition.stop();
    return;
  }
  final_transcript = '';
  recognition.lang = 'en';
  recognition.start();
  ignore_onend = false;
  final_span.innerHTML = '';
  start_timestamp = event.timeStamp;
}
</script>