<div class="page-header page-header-with-buttons">
	<h1 class="pull-left">
	  <i class="icon-medkit"></i>
	  <span>Pharmacy Sales Master</span>
	</h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="/home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-medkit"></i>
          <%= t('Pharmacy Sales Master')%></li>
        </ul>
      </div>

<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for :pharmacy_sales_master  do |o| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-medkit"></i>
            Pharmacy Sales Master       
      </div>
      <div class="actions">
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
      </div>
    </div>
    <div class="box-content box-double-padding">
  
        <fieldset>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Invoice No:</label>
                <div class="col-sm-2"><%= o.text_field  :invoice_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Invoice No",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                
          
       <label class="col-sm-2 control-label">Sale Date</label>
                <div class="col-sm-1"><%= o.date_field  :sale_date,:value => Time.now.strftime('%Y-%m-%d'),
             
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
               <label class="col-sm-2 control-label">Sale Time:</label>
                 <div class="col-sm-3"><%= o.time_select :sale_time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>   
          </div>
      </div>
        <br>
        <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Patient:</label>
                <div class="col-sm-2"><%= o.text_field  :patient,
                 
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Patient",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
        
              <label class="col-sm-2 control-label">Customer Type:</label>
                <div class="col-sm-2"><%= o.select :customer_type,['Other'],
                    onfocus:"$(this).popover('show');" ,
                     placeholder: "Customer Type:",
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>   
                <label class="col-sm-2 control-label">HR No:</label>
                <div class="col-sm-2"><%= o.text_field  :hr_name,
                    onfocus:"$(this).popover('show');" ,
                     placeholder: "HR No",
                     class: "form-control input-group",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>
          <br>
           <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">OPD No:</label>
                <div class="col-sm-2"><%= o.text_field  :opd_no,
                 
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "OPD No",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
        
              <label class="col-sm-2 control-label">Dr Name:</label>
                <div class="col-sm-2"><%= o.text_field  :doctor_name,
                    onfocus:"$(this).popover('show');" ,
                    placeholder: "Dr Name",
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>   
                <label class="col-sm-2 control-label">Credit To:</label>
                <div class="col-sm-2"><%= o.text_field  :credit_to,
                    onfocus:"$(this).popover('show');" ,
                    placeholder: "Credit To",
                     class: "form-control input-group",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
                </div>
             <br>
        <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Bed No:</label>
                <div class="col-sm-2"><%= o.text_field  :bed_no,
                 
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Bed NO",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
        
              <label class="col-sm-2 control-label">Remarks:</label>
                <div class="col-sm-2"><%= o.text_field  :remarks,
                    onfocus:"$(this).popover('show');" ,
                     placeholder: "Remarks:",
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>   
                <label class="col-sm-2 control-label">Series:</label>
                <div class="col-sm-2"><%= o.text_field  :series,
                    onfocus:"$(this).popover('show');" ,
                     placeholder: "Series",
                     class: "form-control input-group",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>
          <br>
          <br>
           <table class="data-table table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
    

        <thead>
          <tr role="row">
          <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Sale From
            </th>
          
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              ItemName
            </th>

                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
            Pack
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Batch
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
             ExpDate
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Qty
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              MRP
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
             S.Rate
            </th>
             <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 125px;">Sale RATE</th>


            </tr>
            
        </thead>
        
      <tbody role="alert" aria-live="polite" aria-relevant="all">

      <tr class="<%= cycle('odd', 'even')%>">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     
      </tr>

  </tbody>

</table>  
<br>

<h4>PAYMENT DETAILS</h4>
 <br>
        <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Receipt Rs:</label>
                <div class="col-sm-2"><%= o.text_field  :receipt_rs,
                 
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
        
              <label class="col-sm-2 control-label">Balance:</label>
                <div class="col-sm-2"><%= o.text_field  :balance,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>   
                <label class="col-sm-2 control-label">payment Type:</label>
                <div class="col-sm-2"><%= o.select  :payment_type,['cash'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>
          <br>
           <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Bank Name:</label>
                <div class="col-sm-2"><%= o.text_field  :bank_name,
                 
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Bank Name",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
        
              <label class="col-sm-2 control-label">Chq/Card No:</label>
                <div class="col-sm-2"><%= o.text_field  :card_no,
                    onfocus:"$(this).popover('show');" ,
                    placeholder: "Card No",
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>   
                <label class="col-sm-2 control-label">chq Date:</label>
                <div class="col-sm-2"><%= o.date_field  :chq_date,
                    onfocus:"$(this).popover('show');" ,:value => Time.now.strftime('%Y-%m-%d'),
                     class: "form-control input-group",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
                <div>
                  <br>
                  <br>
<div class="row">
      <div class="form-group">
        <label class="col-sm-2 control-label">Total Rs:</label>
               
          <label class="col-sm-2 control-label">Tot Disc Rs:</label>
        <label class="col-sm-2 control-label">Tot tax Rs:</label>
                 <label class="col-sm-2 control-label">Round off:</label>
                   <label class="col-sm-2 control-label">Grand Total:</label>
                </div>
          </div>
          <br> 

  <div class="row">
      <div class="form-group">
          <div class="col-sm-2"><%= o.text_field :total_rs,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                     
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
        
       
     
               <div class="col-sm-2"><%= o.text_field  :tot_disc,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                    <div class="col-sm-2"><%= o.text_field  :tot_tax,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                    <div class="col-sm-2"><%= o.text_field  :round_off,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
          
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>
                     <div class="col-sm-2"><%= o.text_field  :grand_total,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                    
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
          </div>
          <br> 
      <div class="row">
      <div class="form-group">

        <label class="col-sm-4 control-label">Discount(%):</label>
               
          <label class="col-sm-4 control-label">Tot Discount(Rs):</label>   
                   <label class="col-sm-4 control-label">Net Total:</label>
                </div>
          </div>
          <br> 
          <div class="row">
      <div class="form-group">
          <div class="col-sm-4"><%= o.text_field :discount_per,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                     
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
        
       
     
               <div class="col-sm-3"><%= o.text_field  :discount_rs,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                    <div class="col-sm-3"><%= o.text_field  :net_grand,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
              
                </div>
          </div>
          <br> 
           
  
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Previous User:</label>
                <div class="col-sm-4"><%= o.text_field  :previous_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Previous User",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                
          
       <label class="col-sm-2 control-label">Current User:</label>
                <div class="col-sm-4"><%= o.text_field  :current_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Current User ",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
              
          </div>
      </div>
        <br>
  
          <div class="col-sm-12">
               <div class="col-sm-4"></div>
               <div class="col-sm-2">
                <%= o.submit 'Save', class: "btn btn-group btn-primary btn-lg"%></div>
                <div class="col-sm-6"></div>

          </div> 
          </fieldset>
  
        </div>
        </div>
        </div>
        <%end%>
