<div class="page-header page-header-with-buttons">
	<h1 class="pull-left">
	  <i class="icon-medkit"></i>
	  <span>Expire Report</span>
	</h1>
    <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="/home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-medkit"></i>
          <%= t('expire report')%></li>
        </ul>
      </div>
<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for :expire_report  do |o| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-medkit"></i>
                Expire Report        
      </div>
      <div class="actions">
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
      </div>
    </div>
    <div class="box-content box-double-padding">
  
        <fieldset>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Supplier Name:</label>
                <div class="col-sm-4"><%= o.text_field  :supplier_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Supplier Name",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                
          
       <label class="col-sm-2 control-label">Item:</label>
                <div class="col-sm-4"><%= o.text_field  :item,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Item ",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
              
          </div>
      </div>
        <br>
        <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">ExpFrom:</label>
                <div class="col-sm-4"><%= o.date_field  :exp_from,
            :value => Time.now.strftime('%Y-%m-%d'),                         
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-content"=>"",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                
          
       <label class="col-sm-2 control-label">Batch:</label>
                <div class="col-sm-4"><%= o.text_field  :batch,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Batch",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
              
          </div>
      </div>
        <br> 
        <br>
           <table class="data-table table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
    

        <thead>
          <tr role="row">
          <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              SrNo
            </th>
          
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Supplier
            </th>

                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
            ItemName
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Pack
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Batch No
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Exp.Date
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Stock
            </th>
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 50px;">
              Tax
            </th>
             <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 125px;">Sale RATE</th>


            </tr>
            
        </thead>
        
      <tbody role="alert" aria-live="polite" aria-relevant="all">

      <tr class="<%= cycle('odd', 'even')%>">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     
      </tr>

  </tbody>

</table>  
<br>
<br>
    <div class="col-sm-12">
               <div class="col-sm-4"></div>
               <div class="col-sm-2">
                <%= o.submit 'Save', class: "btn btn-group btn-primary btn-lg"%></div>
                <div class="col-sm-6"></div>

          </div> 
          </fieldset>
  
        </div>
        </div>
        </div>
        <%end%>
