 <div class="container">
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Department Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Sub Department Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Test Property",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Test Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

<div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Corporate Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Package Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

<div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Corporate Test Rate Setup",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Pathologist Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Diagnostic Doctor Commission",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Sample Collection Master",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to "Bill Of Material (BOM)",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Priscription Special Instruction",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
      </div>
      </div>

       
      

    










