<div class="container">
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Doctor Master",common_master_new_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Referred Doctor Master",common_master_new_referred_doctor_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Specilized Master",common_master_new_specialized_master_path,style: 'color:black' %>     
         </div>
          <div class="panel-body" style="height:70px">
            
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Shift Master",common_master_new_shift_master_path,style: 'color:black'%>
          </div>
          <div class="panel-body" style="height:70px">
            
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-bottom:30px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Doctor Commission",common_master_new_doctor_commission_path,style: 'color:black' %>     
         </div>
          <div class="panel-body" style="height:70px">
           
         </div>
        </div>
       
      </div>


     