<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gears"></i>
              <span><%= t('Bed Master')%></span>
              <small><%= t('Edit')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-gears"></i>
          <%= t('Bed Master')%></li>
        </ul>
      </div>
</div>

<%= form_for @bed_master,url:{action:'update_bed_master',id:@bed_master.id},method: :patch  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
                        Bed Master
      </div>
      <div class="actions">
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
      </div>
    </div>
    <div class="box-content box-double-padding">
      <div class="form-horizontal" style="margin-bottom: 0;">
        <fieldset>
          <% if @bed_master.errors.any?%>
        <div class="alert alert-danger">
        <h4>Errors prohibited to being saved:</h4>
        <ul><% @bed_master.errors.full_messages.each do |msg|%>
          <li style="width:800px"><%= msg %></li>
          <%end%></ul>
          </div>  
           <%end%>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Bed No:</label>
                <div class="col-sm-4"><%= c.text_field :bed_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <div class="col-sm-3">
                  <%= c.check_box :active %>Active   </div> 
                </div>
          </div>

        
          
         
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Ward Name:</label>
                <div class="col-sm-6"><%= c.text_field :ward_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Ward Name",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  
                </div>
          </div>

      
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Floor Name:</label>
                <div class="col-sm-6"><%= c.text_field :floor_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Floor Name",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                   
                </div>
          </div>
          
         
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Bed Rent:</label>
                  <div class="col-sm-3"><%= c.text_field :bed_rent,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  

                  <label class="col-sm-2 control-label"> % Increase:</label>
                  <div class="col-sm-3"><%= c.text_field :per_increase,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
          </div>

          
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Total Bed Charge:</label>
                  <div class="col-sm-3"><%= c.text_field :total_bed_charge,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  

                  <label class="col-sm-2 control-label"> Leave Time:</label>
                  <div class="col-sm-3"><%= c.time_select :leave_time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
          </div>

         
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">L.Tax(%):</label>
                  <div class="col-sm-3"><%= c.text_field :l_tax,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  

                  <label class="col-sm-2 control-label"> Tax for Assam:</label>
                  <div class="col-sm-3"><%= c.text_field :tax_for_assam,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
          </div>

         
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">S.Tax(%):</label>
                  <div class="col-sm-3"><%= c.text_field :s_tax,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  

                    
                </div>
          </div>

         
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Link Service:</label>
                  <div class="col-sm-3"><%= c.text_field :link_services,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  

                    
                </div>
          </div>


          

           <br>

                  <div class="row">
                       
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2" >                
                           
                                <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>
                                
                        </div>
                         <div class="col-sm-5"></div>
                    </div> 
               

          </fieldset>
        </div>
        </div>
        </div>
        </div>
        <%end%>
