<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gears"></i>
              <span><%= t('City Master')%></span>
              <small><%= t('Edit')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-gears"></i>
          <%= t('City Master')%></li>
        </ul>
      </div>
</div>
<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for @city_master,url:{action:'update_city_master',id:@city_master.id},method: :patch  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
                        City Master
      </div>
      <div class="actions">
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
      </div>
    </div>
    <div class="box-content box-double-padding">
      <form class="form-horizontal" style="margin-bottom: 0;">
        <fieldset>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">City Name:</label>
                <div class="col-sm-6"><%= c.text_field :city_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "City Name",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">State Name:</label>
                <div class="col-sm-6"><%= c.select :state_id,@state_masters.collect{|s| [s.state_name,s.id]},{prompt:"Select specailized"},{class: "form-control input-group",required: true,style:"width:200px"}%>  
                  </div> 
                </div>
          </div>
           <br><br>

                  <div class="row">
                       
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2" >                
                           
                                <%= c.submit 'Update', class: "btn btn-group btn-primary btn-lg"%>
                                
                        </div>
                         <div class="col-sm-5"></div>
                    </div> 
               

          </fieldset>
        </form>
        </div>
        </div>
        </div>
        <%end%>
