<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gears"></i>
              <span><%= t('Master')%></span>
              <small><%= t('Common Master')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-gears"></i>
          <%= t('Common Master')%></li>
        </ul>
      </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Doctor Matser",'/common_master/doctor_master'%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
      Add doctor master
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Area Master",'' %></div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Add area master.
      </div>
    </div>
  </div>

</div>

 <hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Family Master","" %>  
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Add family master
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Ocupation Master", ""%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Add ocupation master
      </div>
    </div>
  </div>
</div>
<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Religion Master","" %>  
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Add religion master
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Bank Master", ""%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Add bank master
      </div>
    </div>
  </div>
</div>
<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Payment Master","" %>  
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Add payment master
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Diagnosis/Disease Master", ""%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Add diagnosis/disease master
      </div>
    </div>
  </div>
</div>
<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Group Master","" %>  
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Add group master
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Service Master", ""%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Add service master
      </div>
    </div>
  </div>
</div>
<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Dose Master","" %>  
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Add dose master
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Age Master", ""%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
       Add age master
      </div>
    </div>
  </div>
</div>

<hr class="hr-double">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-book"></i>
          <%= link_to "Vaccines Master","" %>  
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
        Add vaccines master
      </div>
    </div>
  </div>
</div>




