<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gears"></i>
              <span><%= t('Service Master')%></span>
              <small><%= t('New')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-gears"></i>
          <%= t('Service Master')%></li>
        </ul>
      </div>
</div>
<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for :doctor_master  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
                        Service Master
      </div>
      <div class="actions">
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
      </div>
    </div>
    <div class="box-content box-double-padding">
      <form class="form-horizontal" style="margin-bottom: 0;">
        <fieldset>


        <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Service Date:</label>
                  <div class="col-sm-4"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>
          
          <br>
          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-4"><%= c.text_field :name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "Name",
                      required: true,
                      :"data-content"=>"Special characters not allowed",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <div class="col-sm-3">
                  <%= c.check_box :active %>Active   </div> 
                </div>
          </div>

          <br>

          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-6"><%= c.text_field :group,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>

          <br>

          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Charge:</label>
                  <div class="col-sm-6"><%= c.text_field :charge,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>

          <br>

          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Service Chg(%):</label>
                  <div class="col-sm-6"><%= c.text_field :service,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>

          <br>

          <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label">Luxury Tax(%)</label>
                  <div class="col-sm-6"><%= c.text_field :luxury_tax,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",placeholder: "",
                      required: true,
                      :"data-content"=>"Select Date",
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
          </div>
          

           <br><br>

                  <div class="row">
                       
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2" >                
                           
                                <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>
                                
                        </div>
                         <div class="col-sm-5"></div>
                    </div> 
               

          </fieldset>
        </form>
        </div>
        </div>
        </div>
        <%end%>
