<div class="page-header page-header-with-buttons">
  <h1 class="pull-left">
    <i class="icon-book"></i>
    <span>Discharge</span>
  </h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-gears"></i> 
        <a href=""></a>
      </li>
  </ol>
</div>
</div>
<div id="flash"><%= render 'layouts/flash_messages'%></div>

<%= form_for :discharge_details  do |c| %>
<div class="col-sm-12">
  <div class="box bordered-box blue-border">
    <div class="box-header blue-background">
      <div class="title">
        <i class="icon-book"></i>
          Discharge Details
      </div>
        <div class="actions">
          <a class="btn box-collapse btn-xs btn-link" href="#"></a>
        </div>
      </div>
      <div class="box-content box-double-padding">
        <form class="form-horizontal" style="margin-bottom: 0;">
          <fieldset>
          <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                  <div class="col-sm-3"><%= c.date_field :date,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Time:</label>
                  <div class="col-sm-3"><%= c.date_field :time,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>
              
              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Advice No:</label>
                  <div class="col-sm-3"><%= c.text_field :adv_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">HR No:</label>
                  <div class="col-sm-3"><%= c.text_field :hr_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">IPD NO:</label>
                  <div class="col-sm-2"><%= c.text_field :ipd_no,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-2 control-label">Patient Name:</label>
                  <div class="col-sm-6"><%= c.text_field :patient_name,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
              </div>      
              <br>

              <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Remarks:</label>
                <div class="col-sm-6"><%= c.text_field :remarks,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>     
                </div>
            </div> 
            <br>

            <hr class="hr-normal">

              <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label">Age:</label>
                  <div class="col-sm-1"><%= c.text_field :yyyy,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 

                  <label class="col-sm-1 control-label">Y</label>
                  <div class="col-sm-1"><%= c.date_field :mm,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                  <label class="col-sm-1 control-label">M</label>
                  <div class="col-sm-1"><%= c.text_field :dd,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                  <label class="col-sm-1 control-label">D</label>
                  
                  <label class="col-sm-2 control-label">Gender:</label>
                  <div class="col-sm-2"><%= c.select :gender,['Male','Female'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div> 
                </div>
              </div>              
             <br>  

             <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Bed Number:</label>
                <div class="col-sm-3"><%= c.text_field :bed_no,
                    class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                  <label class="col-sm-2 control-label">Phone Number:</label>
                <div class="col-sm-3"><%= c.text_field :phone_number,
                  class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>   
                </div>
            </div> 
            <br>
            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Admit Date:</label>
                <div class="col-sm-3"><%= c.date_field :admit_date,
                  class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
            </div> 
            <br>
            
            <hr class="hr-normal">
            <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Mode of Discharge:</label>
                <div class="col-sm-6"><%= c.select :discharge_mode,['discharge1','discharge2'],
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                </div>
            </div>
            <br>

            <div class="row">
            <div class="col-sm-15">
              <center>
                <table border="1">
                </table>
              </center>  
            </div>
            </div> 
            <br>

            <hr class="hr-normal">
              <div class="row">
              <div class="form-group">
               <label class="col-sm-2 control-label">Previous User:</label>
                <div class="col-sm-2"><%= c.text_field :prev_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>  
                <label class="col-sm-2 control-label">Current User:</label>
                <div class="col-sm-2"><%= c.text_field :current_user,
                    onfocus:"$(this).popover('show');" ,
                     class: "form-control input-group",
                      required: true,
                      :"data-placement"=>"right",
                      :"data-toggle"=>"popover",:"data-trigger"=>"focus"
                      %>  
                  </div>    
                </div>
            </div>
            
            <div class="form-actions">

                  <div class="row">
                       
                        <div class="col-sm-3"></div>
                        <div class="col-sm-15" >                
                           
                          <%= c.submit 'Save', class: "btn btn-group btn-primary btn-lg"%>

                          </div>
                         <div class="col-sm-5"></div>
                    </div> 
                </div>


          </fieldset>
        </form>
        </div>
        </div>
        </div>
        <%end%>