<div id="content-header">
  <h1>Indoor</h1>
  <h3>Manage Indoor</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Patient Admission", indoors_indoor_patient_admission_form_path,style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Patient Admission
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Bed Status",'finance/transaction_category',style: "color:black" %>
          </div>

          <div class="panel-body" style="height:70px"   >
          Manage Bed Status
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Bed Occupancy",'finance/transactions',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manages Bed Occupancy
          </div>
      </div>
    </div>

    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Advance Booking", indoors_advance_booking_form_path,style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px"   >
          Manage Advance Booking
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

    <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Other Services",indoors_other_service_entry_form_path ,style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Other Services
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Doctor Visit",indoors_doctor_visit_form_path,style:"color:black" %>
          </div>
          <div class="panel-body" style="height:70px"   >
          Manage Doctor Visit
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Bed Transfer", indoors_bed_transfer_path,style: "color:black"%>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Bed Transfer
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "OT Billing",'finance/payslip',style:"color:black" %>
          </div>
          <div class="panel-body" style="height:70px"   >
          Manage OT Billing
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>
    
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Indoor Money Receipt", 'finance/fees',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Indoor Money Receipt
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Discharge",'finance/transaction_category',style: "color:black" %>
          </div>

          <div class="panel-body" style="height:70px"   >
          Manage Discharge
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Final Bill", 'finance/fees',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Final Bill
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Manual Final Bill",'finance/transaction_category',style: "color:black" %>
          </div>

          <div class="panel-body" style="height:70px"   >
          Manage Manual Final Bill
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Estimate Bill", 'finance/fees',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Estimate Bill
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Certificate",'finance/transaction_category',style: "color:black" %>
          </div>

          <div class="panel-body" style="height:70px"   >
          Manage Certificate
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Nursing Counter", 'finance/fees',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Nursing Counter
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "IPD Clinical Data",'finance/transaction_category',style: "color:black" %>
          </div>

          <div class="panel-body" style="height:70px"   >
          Manage IPD Clinical Data
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "IPD Receipt", 'finance/fees',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage IPD Receipt
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "ddd",'finance/transaction_category',style: "color:black" %>
          </div>

          <div class="panel-body" style="height:70px"   >
          Manage
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>





