<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-list"></i>
              <span><%= "Patient Medecine"%></span>
              <small><%= t('home')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="home/dashboard">
              <i class="icon-dashboard"></i>
              <%= t('dashboard')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-list"></i>
          <%= t('staff attendance')%></li>
        </ul>
      </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-list"></i>
          <%= link_to "Manage Medecine",'attendences/attendence_register'%>
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
         Manage medecine for Patients.
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box box-transparent box-nomargin">
      <div class="box-header">
        <div class="title">
          <i class="icon-list"></i>
          <%= link_to "Medecine Report",'attendences/report' %>        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>
          
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-padding">
   Medecine report of patient
      </div>
    </div>
  </div>

</div>

 